<div class="form">
  <mat-card class="card">
    <mat-card-title>Register User</mat-card-title>
    <mat-card-content>
      <div class="container">
        <mat-form-field>
          <input
            [(ngModel)]="registerData.name"
            matInput
            placeholder="Name and Lastname"
            required
          />
        </mat-form-field>
        <mat-form-field>
            <input
            [(ngModel)]="registerData.email"
            matInput
            type="email"
            placeholder="Enter email"
            required
          />
        </mat-form-field>
        <mat-form-field>
            <input
            [(ngModel)]="registerData.password"
            matInput
            type="password"
            placeholder="password"
            required
          />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button
        (click)="registerUser()"
        class="button"
        mat-raised-button
        >Register</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- el .name es el parametro que viene en el json, el nombre asi como haciamos en postman -->
